# Server Configuration
PORT=3000
NODE_ENV=development

# GitHub Configuration
GITHUB_API_URL=https://api.github.com
GITHUB_TOKEN=your_token_here
REDIS_URL=redis://localhost:6379
FRONTEND_URL=https://your-frontend-domain.com
LEETCODE_GRAPHQL_URL=https://leetcode.com/graphql/